@charset "UTF-8";
main {
    width: 60%;
    margin: 0 auto;
    /* margin-top: 150px; */
    padding-top: 180px;
}

.place {
    height: 300px;
    margin: 30px 0;
}

.acquisition {
    height: 800px;
    margin: 30px 0;
}

.spot .img-wrapper {
    margin: 30px auto;
    width: 70%;
}

.img-wrapper img {
    width: 100%;
}

.headline {
    padding: 0.4em 0.5em;
    /*文字の上下 左右の余白*/
    color: #494949;
    /*文字色*/
    background: #f4f4f4;
    /*背景色*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px #d7d7d7;
    /*下線*/
    font-size: 30px;
    margin-bottom: 30px;
}


/* ボタン */

.btn-animation-02 {
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: #6298c4;
    border: 2px solid #6298c4;
    font-size: 16px;
    color: #6298c4;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 4px;
    position: relative;
}

.btn-animation-02 span {
    position: relative;
    z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
    content: "";
    display: block;
    background-color: #FFF;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .2s;
}

.btn-animation-02::before {
    left: 0;
}

.btn-animation-02::after {
    right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
    width: 0;
    background-color: #FFF;
}

.btn-animation-02:hover {
    color: #FFF;
}


/* ボタン終了 */


/* 見出し */

.sub-heading {
    border-bottom: solid 3px #cce4ff;
    position: relative;
}

.sub-heading:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 20%;
}

.sub-heading {
    font-size: 24px;
}

.sub-heading a {
    color: black;
}


/* 見出し終了 */


/* pタグ文字テキスト */

.blog-text {
    font-size: 17px;
    line-height: normal;
    margin: 30px;
}


/* pタグ文字テキスト終了 */


/* もっと見るボタン */

.see-more {
    left: 18%;
    width: 60%;
}

.see-more span {
    font-size: 20px;
}


/* もっと見るボタン終了 */